{% extends "base.html" %}
{% block title %}Mission Journal - {{title}}{% endblock %}
{% block content %}
    <header>
        <img src="{{base_url}}/public/images/hamburg-coat-of-arms.jpg">
        <h1>Mission Journal</h1>
        <nav id="navigation">
            <a href="{{base_url}}/">HOME</a>
            <a href="{{base_url}}/journal/">JOURNAL</a>
        </nav>
    </header>
    <main>
        <h1 class="post-title">{{title}}</h1>
        <span class="post-date">{{date | datetime("%A, %b %d, %Y") }}</span>

        {{ content }}

        <img class="post-location" src="{{base_url}}/public/images/{{location}}.webp">
    </main>
    <div class="post_nav">
        <h3><a href="{{base_url}}/journal/">Entries</a></h3>
        <nav>
            {% if prev_post_url %}
                <p><a href="{{base_url}}/{{ prev_post_url }}">← {{ prev_post_title }}</a></p>
            {% endif %}
            
            {% if next_post_url %}
                <p><a href="{{base_url}}/{{ next_post_url }}">{{ next_post_title }} →</a></p>
            {% endif %}
        </nav>
    </div>
{% endblock %}