:root {
    --width: 80vw;
}
body {
    background-color: rgb(54, 132, 211);
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "GRAD" 0;
    font-size: 1.3rem;
}

header {
    margin: 2rem auto;
    width: var(--width);
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(152, 152, 152);
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    nav {
        display: flex;
        justify-content: space-evenly;
        flex-flow: row wrap;
        margin: 18px;
    }
    nav a {
        padding: 10px;
        color: #ff8400;
        text-decoration: none;
    }
    nav a:hover {
        background-color: #ff8400;
        color: white;
    }
    #logo {
        width: 150px;
        box-shadow: none;
        border-radius: 0px;
    }
}

main {
    margin: 2rem auto;
    width: var(--width);
    padding: 20px;
    background-color: white;
    line-height: 1.5;
}

img {
    display: block;
    width: 80%;
    margin: 14px auto;
    border-radius: 20px;
    box-shadow: 4px 4px 8px grey;
}
.caption {
    display: block;
    margin: 20px auto;
    width: 80%;
    font-style: italic;
}

.post_nav nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.post_nav h3 {
    text-align: center;
}
.post_nav h3 a {
    color: white;
    text-decoration: none;
}
.post_nav h3 a:hover {
    color:#ff8400;
    text-decoration: underline;
}

.post_nav nav p {
    background: white;
    padding: 20px;
    margin: 4px;
    border-radius: 4px;
}

.post_nav nav p a {
    text-decoration: none;
}
.post_nav nav p a:hover {
    color:#ff8400;
    text-decoration: underline;
}
.posts-index {
    display: flex;
    flex-flow: column;
}
.posts-index a {
    text-decoration: none;
    color: green;
}
.posts-index a:hover {
    color: blue;
    text-decoration: underline;

}

details {
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaaaaa;
  margin-bottom: 0.5em;
}

.heading {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-bottom: 22px;
    text-align: center;
}
#location {
    margin-top: 22px;
    border: 1px solid #fed;
    border-radius: 4px;
    padding: 8px;
}
.post-title {
    margin: 5px;
}
.post-date {
    margin-left: 20px;
    margin-bottom: 30px;
    padding: 5px 15px;
    background-color:#def;
    width: 30vw;
}
.post-location {
    width: 100px;
    vertical-align: middle;
    border: 1px solid #eee;
    border-radius: 4px;
}

.codehilite {
    all: unset;
    display: block;
    margin: 10px auto;
    padding: 20px;
    background-color:rgb(227, 227, 227);
    border-radius: 20px;
    font-weight: 100;
    font-size: 1rem;
}

#footer {
    background-color:rgb(48, 122, 195);
    box-shadow: 1px 1px 1px rgb(34, 107, 181);
    border-radius: 8px;
    width: var(--width);
    margin: 2rem auto;
    padding: 20px;
    color: white;
    text-align: center;
    a {
        color: rgb(134, 217, 242);
        text-decoration: none;
    }
    a:hover {
        color: #ff8400;
    }
}

@media (min-width: 1000px) { 
    header {
        margin: 2rem auto;
        width: 60vw;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        text-align: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }
    header nav {
        display: flex;
        justify-content: space-evenly;
        flex-flow: row wrap;
        margin: 18px;
    }
    main {
        margin: 2rem auto;
        width: 60vw;
        padding: 20px;
        background-color: white;
        line-height: 1.5;
    }
    #footer {
        margin: 2rem auto;
        width: 60vw;
        padding: 20px;
    }

    .heading {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-bottom: 22px;
        text-align: left;
    }
    #location {
        margin-top: 22px;
        border: 1px solid #fed;
        border-radius: 4px;
        padding: 8px;
    }
}
